doctype 
html
  head
    meta(charset='UTF-8')
    title 品牌故事 - 中化保健館
    meta(name='description' content='中國化學製藥擁有數十年歷史，除了藥品生產、研發外，也跨足了保健品及家用、美妝產品。我們秉持「誠實無私、友愛互助」、「夜以繼日、研究發展、造福社會人群」的企業經營理念，不斷地研究發展，開創新局，期能為國人提供安全健康之現代生活。中化健康360為全方位的健康品牌，我們嚴選原料，嚴格把關產品品質詳細把關，提供安全及安心的產品來守護您的健康。')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(property='og:image' content='./img/ogimage.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")  
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='./css/style.css')

  body
    #banner.h-100pc.position-relative
      img.d-none.d-md-block(src="/wp-content/themes/astra/img/banner/brand_story_banner.jpg", alt="")
      img.d-block.d-md-none(src="/wp-content/themes/astra/img/banner/brand_story_banner_mb.jpg", alt="")

    #intro-block.text-center.mt-50.container-xl.container-1100
      h4 關於中化健康360
      p 以中國化學製藥的核心價值：研發、生產360度全方位藥品

    #brand-story-block.container-xl.container-1100.mt-50
      .title.mb-30
        img.d-inline-block.h-40px(src="/wp-content/themes/astra/img/character/brother_head.png", alt="")
        .title-text.d-inline-block.border-bottom-2px.ml-5px
          h4.mb-4px 品牌故事 BRAND STORY
      .brand-story-content-block.shodow-3.border-brand-orange.p-510.text-center.p-mb-20
        p.fz24 中國化學製藥擁有數十年歷史，除了藥品生產、研發外，也跨足了保健品及家用、美妝產品。我們秉持「誠實無私、友愛互助」、「夜以繼日、研究發展、造福社會人群」的企業經營理念，不斷地研究發展，開創新局，期能為國人提供安全健康之現代生活。
        img.mt-30.h-400px.w-100.h-mb-300(src="/wp-content/themes/astra/img/photo/brand_story_company.jpg", alt="")

    #brand-story-block.container-xl.container-1100.mt-50
      .title.mb-30
        img.d-inline-block.h-40px(src="/wp-content/themes/astra/img/character/mom_head.png", alt="")
        .title-text.d-inline-block.border-bottom-2px.ml-5px
          h4.mb-4px 品牌介紹 ABOUT US
      .brand-story-content-block.shodow-3.border-brand-orange.p-510.text-center.p-mb-20
        .row
          p.fz24 中化健康360為全方位的健康品牌，我們嚴選原料，嚴格把關產品品質詳細把關，提供安全及安心的產品來守護您的健康。
          .col-md-4
            img.mt-30.px-5px.h-300px(src="/wp-content/themes/astra/img/photo/brand_story_about_us01.jpg", alt="")
          .col-md-4
            img.mt-30.px-5px.h-300px(src="/wp-content/themes/astra/img/photo/brand_story_about_us02.jpg", alt="")
          .col-md-4
            img.mt-30.px-5px.h-300px(src="/wp-content/themes/astra/img/photo/brand_story_about_us03.jpg", alt="")

    .container-xl.container-1100.mt-50.text-center.mb-50
      img.w-500px.w-mb-80pc(src="/wp-content/themes/astra/img/character/brand_story_family.png", alt="")
      .brand-story-content-block.shodow-3.border-brand-orange.p-510.text-center.p-mb-20
        h4 品牌精神
        p.fz24 秉持著中國化學製藥的核心價值，以專業研發、高品質生產360度全方位的藥品為使命，不斷持續地關懷守護國人的健康幸福為宗旨。

  script
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous")
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://unpkg.com/popper.js')
    script(src='./js/swiper.js')