doctype 
html
  head
    meta(charset='UTF-8')
    title 銷售通路 - 中化保健館
    meta(name='description' content='中國化學製藥擁有數十年歷史，除了藥品生產、研發外，也跨足了保健品及家用、美妝產品。我們秉持「誠實無私、友愛互助」、「夜以繼日、研究發展、造福社會人群」的企業經營理念，不斷地研究發展，開創新局，期能為國人提供安全健康之現代生活。中化健康360為全方位的健康品牌，我們嚴選原料，嚴格把關產品品質詳細把關，提供安全及安心的產品來守護您的健康。')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(property='og:image' content='./img/ogimage.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")  
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='./css/style.css')

  body
    #banner.h-100pc.position-relative
      img.d-none.d-md-block(src="/wp-content/themes/astra/img/banner/sales_channel_banner.jpg", alt="")
      img.d-block.d-md-none(src="/wp-content/themes/astra/img/banner/sales_channel_banner_mb.jpg", alt="")

    #stores-block.container-xl.container-1100.mt-50
      .title.mb-30
        img.d-inline-block.h-40px(src="/wp-content/themes/astra/img/character/brother_head.png", alt="")
        .title-text.d-inline-block.border-bottom-2px.ml-5px
          h4.mb-4px 實體通路 STORES
      iframe.shodow-3(style='width: 100%; min-height: 700px; height: 100%; border: none;' src='https://betterlife360.com.tw/wp-content/themes/healthy360/dist/#/')
        span.mce_SELRES_start(data-mce-type='bookmark' style='display: inline-block; width: 0px; overflow: hidden; line-height: 0;') ﻿
        span.mce_SELRES_start(data-mce-type='bookmark' style='display: inline-block; width: 0px; overflow: hidden; line-height: 0;') ﻿
        | 你的瀏覽器不支援 iframe
        span.mce_SELRES_start(data-mce-type='bookmark' style='display: inline-block; width: 0px; overflow: hidden; line-height: 0;')
        span.mce_SELRES_start(data-mce-type='bookmark' style='display: inline-block; width: 0px; overflow: hidden; line-height: 0;') ﻿

    #online-shop-block.container-xl.container-1100.mt-50.mb-50
      .title.mb-30
        img.d-inline-block.h-40px(src="/wp-content/themes/astra/img/character/mom_head.png", alt="")
        .title-text.d-inline-block.border-bottom-2px.ml-5px
          h4.mb-4px 網路授權通路 ONLINE SHOP
      .mt-30
        .row
          .col-md-3.col-6.px-mb-150
            a(href="https://reurl.cc/En3m2K" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/momo.png", alt="") 
          .col-md-3.col-6.px-mb-015
            a(href="https://reurl.cc/W35bXx" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/pchome.png", alt="") 
          .col-md-3.col-6.px-mb-150
            a(href="https://reurl.cc/O0l6Qv" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/yahoo.png", alt="") 
          .col-md-3.col-6.px-mb-015
            a(href="https://reurl.cc/NppnQ6" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/專品藥局.png", alt="") 
          .col-md-3.col-6.px-mb-150
            a(href="https://reurl.cc/Nppnl6" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/元康藥局.png", alt="") 
          .col-md-3.col-6.px-mb-015
            a(href="https://www.befinso.com/" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/比啡所運動保健藥妝.png", alt="") 
          .col-md-3.col-6.px-mb-150
            a(href="https://shopee.tw/befinso" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/比啡所運動保健藥妝_網路醫材通路.png", alt="") 
          .col-md-3.col-6.px-mb-015
            a(href="https://reurl.cc/EppW1v" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/日昇醫療器材.png", alt="") 
          .col-md-3.col-6.px-mb-150
            a(href="https://reurl.cc/Wkkyve" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/康護醫療器材.png", alt="") 
          .col-md-3.col-6.px-mb-015
            a(href="https://reurl.cc/l99lgQ" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/全友醫療器材.png", alt="") 
          .col-md-3.col-6.px-mb-150
            a(href="https://reurl.cc/022Q9l" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/大友醫療器材.png", alt="") 
          .col-md-3.col-6.px-mb-015
            a(href="https://reurl.cc/yQQova" target="_blank")
              img(src="/wp-content/themes/astra/img/online_shop/和奕醫療器材.png", alt="") 

  script
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous")
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://unpkg.com/popper.js')
    script(src='./js/swiper.js')